<mat-dialog-content>
  <div class="card card-warning">
    <div class="card-header">
      <h2 class="card-title mb-0">Edit Message</h2>
      <button class="close" type="button" mat-dialog-close>&times;</button>
    </div>

    <form autocomplete="off" [formGroup]="f" (ngSubmit)="editMessage()">
      <div class="card-body">
        <ng-container *ngIf="!loadData; else loading">
          <!--message-->
          <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea
              id="inputMessage"
              type="text"
              class="form-control"
              value="{{ message }}"
              rows="5"
              readonly
            ></textarea>
          </div>

          <!--answer-->
          <div class="form-group">
            <label for="inputAnswer">Answer</label>
            <textarea
              id="inputAnswer"
              rows="5"
              class="form-control"
              placeholder="Answer"
              formControlName="answer"
              [ngClass]="{
                'is-invalid':
                  invalidField('answer') ||
                  (answer.invalid && answer.errors?.pattern)
              }"
            ></textarea>

            <span
              class="invalid-feedback"
              *ngIf="answer.invalid && answer.errors?.required"
              >Por favor ingrese una respuesta</span
            >
            <span
              class="invalid-feedback"
              *ngIf="answer.invalid && answer.errors?.pattern"
              >Por favor escriba la respuesta</span
            >
          </div>
        </ng-container>

        <!--Spinner de carga-->
        <ng-template #loading>
          <app-spinners [type]="'sk-cube'"></app-spinners>
        </ng-template>
      </div>

      <div class="card-footer">
        <button mat-dialog-close class="btn btn-secondary">Cerrar</button>
        <button type="submit" class="btn btn-warning float-right">
          Guardar
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
