<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Productos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Productos</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <div [hidden]="loadData" class="row mb-2">
          <div class="col-12 col-sm-6 col-xl-3 mr-auto">
            <a
              class="btn btn-block bg-gradient-primary"
              [routerLink]="['new-product']"
            >
              Nuevo producto
            </a>
          </div>
          <div class="col-12 col-sm-6 col-xl-3 ml-auto">
            <input
              class="form-control"
              placeholder="Buscar"
              (keyup)="applyFilter($event)"
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="mat-table-container">
          <table
            [hidden]="loadData"
            mat-table
            matSort
            matSortActive="position"
            matSortDirection="asc"
            [dataSource]="dataSource"
            class="mat-elevation-z8 matTable-table"
            multiTemplateDataRows
          >
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="btn btn-sm btn-warning mr-1 size"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element
                  "
                >
                  <i class="fas fa-eye"></i>
                </button>
                <button
                  class="btn btn-sm btn-danger mr-1 size"
                  *ngIf="element.feedback.type != 'approved'"
                  (click)="cambiarEstado(element, 'review')"
                >
                  <!--<i class="fas fa-clock"></i>-->
                  <i class="fas fa-times"></i>
                </button>
                <button
                  class="btn btn-sm btn-success mr-1 size"
                  *ngIf="element.feedback.type == 'approved'"
                  (click)="cambiarEstado(element, 'approved')"
                >
                  <i class="fas fa-check"></i>
                </button>
                <button
                  class="btn btn-sm btn-dark mr-1 size"
                  (click)="editProduct(element.id)"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button
                  class="btn btn-sm btn-danger mr-1 size"
                  (click)="deleteProduct(element.id, element.name)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <ul class="container pl-0">
                    <li class="py-2">
                      <div
                        *ngIf="
                          !(element.image == '' || element.image == undefined)
                        "
                      >
                        <img
                          src="{{ element.image }}"
                          width="100"
                          alt="{{ element.name }}"
                        />
                      </div>
                      <div
                        *ngIf="
                          element.image == '' || element.image == undefined
                        "
                      >
                        <img
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="rounded-circle"
                          width="100"
                          alt="{{ element.name }}"
                        />
                      </div>
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Url: </strong>
                      {{ element.url }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Tienda: </strong>
                      {{ element.store }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Categoria: </strong>
                      {{ element.category }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Subcategoria: </strong>
                      {{ element.sub_category }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Lista de titulos:
                      </strong>
                      {{ element.title_list }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Etiquetas: </strong>
                      {{ element.tags | jsonToString }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Precio: </strong>
                      {{ element.price | currency }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Envio: </strong>
                      {{ element.shipping | currency }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Existencias: </strong>
                      <h5
                        class="badge badge-success px-2"
                        *ngIf="element.stock > 50"
                      >
                        {{ element.stock }}
                      </h5>
                      <h5
                        class="badge badge-warning px-2"
                        *ngIf="element.stock <= 50 && element.stock > 21"
                      >
                        {{ element.stock }}
                      </h5>
                      <h5
                        class="badge badge-danger px-2"
                        *ngIf="element.stock < 20"
                      >
                        {{ element.stock }}
                      </h5>
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Tiempo de entrega:
                      </strong>
                      {{ element.delivery_time }} dias
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Oferta: </strong>
                      {{ element.offer | jsonToString }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Resumen: </strong>
                      <ul>
                        <li *ngFor="let sum of element.summary">{{ sum }}</li>
                      </ul>
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Especificaciones:
                      </strong>
                      <div
                        class="my-3"
                        *ngIf="element.specification.length > 0"
                      >
                        <div *ngFor="let spec of element.specification">
                          <figure class="my-3">
                            <figcaption>
                              {{ spec | separateObjects }}
                              <strong>Escoja una opción</strong>
                            </figcaption>
                            <div
                              class="d-flex"
                              *ngIf="(spec | separateObjects) == 'Color'"
                            >
                              <ng-container
                                *ngFor="
                                  let value of spec[spec | separateObjects]
                                "
                              >
                                <div
                                  class="rounded-circle mr-3"
                                  style="
                                    width: 30px;
                                    height: 30px;
                                    cursor: pointer;
                                    border: 1px solid #bbb;
                                  "
                                  [ngStyle]="{ 'background-color': value }"
                                ></div>
                              </ng-container>
                            </div>
                            <div
                              class="d-flex"
                              *ngIf="(spec | separateObjects) != 'Color'"
                            >
                              <div
                                class="py-2 px-3 mr-3"
                                *ngFor="
                                  let value of spec[spec | separateObjects]
                                "
                                style="cursor: pointer; border: 1px solid #bbb"
                              >
                                {{ value }}
                              </div>
                            </div>
                          </figure>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Detalles: </strong>
                      <table class="table table-bordered">
                        <tbody>
                          <tr *ngFor="let detail of element.details">
                            <td class="bg-light">{{ detail.title }}</td>
                            <td>{{ detail.value }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Descripción: </strong>
                      <div class="row">
                        <div
                          style="overflow-x: scroll"
                          class="p-3"
                          [innerHTML]="element.description"
                        ></div>
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Galeria: </strong>
                      <div class="row">
                        <figure
                          *ngFor="let pic of element.gallery"
                          class="col-12 col-lg-3"
                        >
                          <img
                            *ngIf="!(pic == '' || pic == undefined)"
                            src="{{ pic }}"
                            class="img-thumbnail"
                          />
                          <img
                            *ngIf="pic == '' || pic == undefined"
                            src="../../../../assets/img/undraw_product_teardown_elol.svg"
                            class="img-thumbnail"
                          />
                        </figure>
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Banner superior: </strong>
                      <div class="py-3">
                        <p>
                          <strong>H3 tag: </strong
                          >{{ element.top_banner["H3 tag"] }}
                        </p>
                        <p>
                          <strong>P1 tag: </strong
                          >{{ element.top_banner["P1 tag"] }}
                        </p>
                        <p>
                          <strong>H4 tag: </strong
                          >{{ element.top_banner["H4 tag"] }}
                        </p>
                        <p>
                          <strong>P2 tag: </strong
                          >{{ element.top_banner["P2 tag"] }}
                        </p>
                        <p>
                          <strong>Span tag: </strong
                          >{{ element.top_banner["Span tag"] }}
                        </p>
                        <p>
                          <strong>Button tag: </strong
                          >{{ element.top_banner["Button tag"] }}
                        </p>
                        <p><strong>IMG tag: </strong></p>
                        <img
                          *ngIf="
                            !(
                              element.top_banner['IMG tag'] == '' ||
                              element.top_banner['IMG tag'] == undefined
                            )
                          "
                          src="{{ element.top_banner['IMG tag'] }}"
                          class="img-fluid"
                        />
                        <img
                          *ngIf="
                            element.top_banner['IMG tag'] == '' ||
                            element.top_banner['IMG tag'] == undefined
                          "
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="img-fluid"
                        />
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Banner por defecto:
                      </strong>
                      <div class="py-3">
                        <img
                          *ngIf="
                            !(
                              element.default_banner == '' ||
                              element.default_banner == undefined
                            )
                          "
                          src="{{ element.default_banner }}"
                          class="img-fluid py-3"
                        />
                        <img
                          *ngIf="
                            element.default_banner == '' ||
                            element.default_banner == undefined
                          "
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="img-fluid py-3"
                        />
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Deslizador horizontal:
                      </strong>
                      <div class="py-3">
                        <p>
                          <strong>H4 tag: </strong
                          >{{ element.horizontal_slider["H4 tag"] }}
                        </p>
                        <p>
                          <strong>H3-1 tag: </strong
                          >{{ element.horizontal_slider["H3-1 tag"] }}
                        </p>
                        <p>
                          <strong>H3-2 tag: </strong
                          >{{ element.horizontal_slider["H3-2 tag"] }}
                        </p>
                        <p>
                          <strong>H3-3 tag: </strong
                          >{{ element.horizontal_slider["H3-3 tag"] }}
                        </p>
                        <p>
                          <strong>H3-4s tag: </strong
                          >{{ element.horizontal_slider["H3-4s tag"] }}
                        </p>
                        <p>
                          <strong>Button tag: </strong
                          >{{ element.horizontal_slider["Button tag"] }}
                        </p>
                        <p>
                          <strong>IMG tag: </strong>
                        </p>
                        <img
                          *ngIf="
                            !(
                              element.horizontal_slider['IMG tag'] == '' ||
                              element.horizontal_slider['IMG tag'] == undefined
                            )
                          "
                          src="{{ element.horizontal_slider['IMG tag'] }}"
                          class="img-fluid"
                        />
                        <img
                          *ngIf="
                            element.horizontal_slider['IMG tag'] == '' ||
                            element.horizontal_slider['IMG tag'] == undefined
                          "
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="img-fluid"
                        />
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell"
                        >Deslizador vertical:
                      </strong>
                      <div class="py-3">
                        <img
                          *ngIf="
                            !(
                              element.vertical_slider == '' ||
                              element.vertical_slider == undefined
                            )
                          "
                          src="{{ element.vertical_slider }}"
                          class="img-fluid"
                        />
                        <img
                          *ngIf="
                            element.vertical_slider == '' ||
                            element.vertical_slider == undefined
                          "
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="img-fluid"
                        />
                      </div>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Video: </strong>
                      <div
                        class="py-3"
                        *ngIf="
                          element.video[1] == '' ||
                          element.video[1] == undefined
                        "
                      >
                        <img
                          src="../../../../assets/img/undraw_video_files_fu10.svg"
                          alt="Video no encontrado"
                          class="img-fluid"
                        />
                      </div>
                      <iframe
                        *ngIf="element.video[0] === 'youtube'"
                        class="mb-3"
                        [src]="
                          'https://www.youtube.com/embed/' + element.video[1]
                            | urlSecure
                        "
                        width="100%"
                        height="360"
                        frameborder="0"
                        allowfullscreen
                      ></iframe>

                      <iframe
                        *ngIf="element.video[0] === 'vimeo'"
                        class="mb-3"
                        [src]="
                          'https://player.vimeo.com/video/' + element.video[1]
                            | urlSecure
                        "
                        width="100%"
                        height="360"
                        frameborder="0"
                        allowfullscreen
                      ></iframe>
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Vistas: </strong>
                      {{ element.views }}
                    </li>
                    <li class="py-1">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Ventas: </strong>
                      {{ element.sales }}
                    </li>
                    <li>
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Criticas: </strong>
                      <span *ngFor="let rev of element.reviews">
                        <i
                          *ngIf="rev == 1"
                          class="fas fa-star text-warning"
                        ></i>
                        <i
                          *ngIf="rev == 2"
                          class="far fa-star text-warning"
                        ></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell text-center"
                [attr.colspan]="displayedColumns.length"
              >
                No data matching the filter
              </td>
            </tr>
          </table>
          <ng-container *ngIf="loadData">
            <app-spinners [type]="'sk-cube'"></app-spinners>
          </ng-container>
        </div>
      </div>
      <!-- /.card-footer -->
      <div class="card-footer">
        <mat-paginator
          [hidden]="loadData"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
