<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Categories</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Categories</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <div [hidden]="loadData" class="row mb-2">
          <div class="col-12 col-sm-6 col-xl-3 mr-auto">
            <button
              class="btn btn-block bg-gradient-primary"
              type="button"
              (click)="newCategory()"
            >
              Nueva categoria
            </button>
          </div>
          <div class="col-12 col-sm-6 col-xl-3 ml-auto">
            <input
              class="form-control"
              placeholder="Buscar"
              (keyup)="applyFilter($event)"
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="mat-table-container">
          <table
            [hidden]="loadData"
            mat-table
            matSort
            matSortActive="position"
            matSortDirection="asc"
            [dataSource]="dataSource"
            class="mat-elevation-z8 matTable-table"
            multiTemplateDataRows
          >
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="btn btn-sm btn-warning mr-1"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element
                  "
                >
                  <i class="fas fa-eye"></i>
                </button>
                <button
                  class="btn btn-sm btn-dark"
                  (click)="editCategorie(element.id)"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button
                  class="btn btn-sm btn-danger mr-1"
                  (click)="deleteCategorie(element.id, element.name)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <ul class="pl-0">
                    <li class="py-2">
                      <div
                        *ngIf="
                          !(element.image == '' || element.image == undefined)
                        "
                      >
                        <img
                          src="{{ element.image }}"
                          class="rounded-circle"
                          width="100px"
                          alt="{{ element.name }}"
                        />
                      </div>
                      <div
                        *ngIf="
                          element.image == '' || element.image == undefined
                        "
                      >
                        <img
                          src="../../../../assets/img/undraw_product_teardown_elol.svg"
                          class="rounded-circle"
                          width="100px"
                          alt="{{ element.name }}"
                        />
                      </div>
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Url:</strong>
                      {{ element.url }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Icono:</strong>
                      <i class="{{ element.icon }}"></i>
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Lista de titulos:</strong>
                      {{ element.title_list | jsonToString }}
                    </li>
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Vista:</strong>
                      {{ element.view }}
                    </li>
                    <li class="py-1">
                      <div class="custom-control custom-switch">
                        <input
                          *ngIf="element.state == 'show'"
                          type="checkbox"
                          class="custom-control-input"
                          id="switch_{{ element.id }}"
                          (change)="changeState($event)"
                          checked
                        />
                        <input
                          *ngIf="element.state == 'hidden'"
                          type="checkbox"
                          class="custom-control-input"
                          id="switch_{{ element.id }}"
                          (change)="changeState($event)"
                        />
                        <label
                          for="switch_{{ element.id }}"
                          class="custom-control-label"
                        ></label>
                      </div>
                    </li>
                  </ul>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell text-center"
                [attr.colspan]="displayedColumns.length"
              >
                No data matching the filter
              </td>
            </tr>
          </table>
          <ng-container *ngIf="loadData">
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <mat-paginator
          [hidden]="loadData"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
