<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Producto nuevo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['/products']">Productos</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="card card-warning">
    <form autocomplete="off" [formGroup]="f" (ngSubmit)="saveProduct()">
      <div class="card-body">
        <ng-container *ngIf="!loadData">
          <!--Nombre del producto-->
          <div class="form-group">
            <label for="inputName"
              >Nombre <sup class="text-danger">*</sup></label
            >
            <input
              type="text"
              placeholder="Nombre"
              class="form-control"
              id="inputName"
              formControlName="name"
              maxlength="50"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('name') ||
                  (name.invalid && name.errors?.product) ||
                  (name.invalid && name.errors?.pattern)
              }"
            />
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.required"
            >
              Por favor ingrese el nombre del producto
            </span>
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.product"
            >
              El producto ya existe
            </span>
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.maxlength"
            >
              El nombre no puede tener mas de 50 caracteres
            </span>
          </div>
          <!--Url del producto-->
          <div class="form-group">
            <label for="inputUrl">Url</label>
            <input
              type="text"
              class="form-control"
              placeholder="url"
              value="{{ urlInput }}"
              readonly
            />
          </div>
          <!--Categoria del producto-->
          <div class="form-group">
            <label for="inputCategory"
              >Categoria <sup class="text-danger">*</sup></label
            >
            <select
              class="form-control"
              formControlName="category"
              [ngClass]="{ 'is-invalid': invalidField('category') }"
              (change)="selectCategory($event)"
            >
              <option value="" disabled>Seleccione una categoria</option>
              <option
                value="{{ category.url }}_{{ category.name }}"
                *ngFor="let category of categories"
              >
                {{ category.name }}
              </option>
            </select>
            <span
              class="invalid-feedback"
              *ngIf="category.invalid && category.errors?.required"
            >
              Porfavor seleccione una categoria
            </span>
          </div>
          <!--Subcategoria del producto-->
          <div class="form-group" *ngIf="!category.invalid">
            <label for="inputSubcategory"
              >Subcategoria <sup class="text-danger">*</sup></label
            >
            <select
              class="form-control"
              formControlName="sub_category"
              [ngClass]="{ 'is-invalid': invalidField('sub_category') }"
              (change)="selectSubcategory($event)"
            >
              <option value="" disabled>Seleccione una subcategoria</option>
              <option
                value="{{ subcategory.url }}_{{ subcategory.name }}"
                *ngFor="let subcategory of subcategories"
              >
                {{ subcategory.name }}
              </option>
            </select>
            <span
              class="invalid-feedback"
              *ngIf="sub_category.invalid && sub_category.errors?.required"
            >
              Porfavor seleccione una subcategoria
            </span>
          </div>
          <!--Listado de titulo-->
          <div class="form-group" *ngIf="titleList != ''">
            <label for="titleList">Listado de titulo</label>
            <input
              type="text"
              id="titleList"
              class="form-control"
              placeholder="Listado de titulo"
              value="{{ titleList }}"
              readonly
            />
          </div>
          <!--Imagen del producto-->
          <div class="form-group">
            <label for=""
              >Imagen principal <sup class="text-danger">*</sup></label
            >
            <br />
            <label for="customFile">
              <img
                src="../../../../../assets/img/products/default/default-image.jpg"
                class="img-fluid"
                *ngIf="!imgTemp"
              />
              <img [src]="imgTemp" class="img-fluid" *ngIf="imgTemp" />
            </label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="customFile"
                formControlName="image"
                [ngClass]="{ 'is-invalid': invalidField('image') }"
                (change)="validateImage($event, 'image')"
                accept="image/*"
              />
              <span class="invalid-feedback">
                Porfavor seleccione una imagen
              </span>

              <label
                class="custom-file-label"
                for="customFile"
                *ngIf="!image.value"
              >
                Seleccione una imagen
              </label>
              <label
                class="custom-file-label"
                for="customFile"
                *ngIf="image.value"
              >
                {{ image.value }}
              </label>
              <small class="mt-2">
                Tamaño: 300px * 300px | Formato: JPG o PNG
              </small>
            </div>
          </div>
          <!--Galeria del producto-->
          <div class="form-group">
            <label for="">Galeria del producto</label>
            <ngx-dropzone
              (change)="onSelect($event)"
              accept="image/jpeg,image/jpg,image/png,image/gif"
            >
              <ngx-dropzone-label>
                <h2 class="text-muted small text-center">
                  Galeria de fotos | Tamaño: 1000px * 1000px | Cantidad maxima:
                  4
                </h2>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview
                *ngFor="let f of files"
                [removable]="true"
                (removed)="onRemove(f)"
                [file]="f"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <span class="text-danger small" *ngIf="files.length > 4">
              Se permiten maximo 4 fotos
            </span>
          </div>
          <!--Descripcion del producto-->
          <div class="form-group">
            <label for="">Descripcion <sup class="text-danger">*</sup></label>
            <div
              [ngxSummernote]="config"
              formControlName="description"
              [ngClass]="{ 'is-invalid': invalidField('description') }"
            ></div>
            <span
              class="invalid-feedback"
              *ngIf="description.invalid && description.errors?.required"
            >
              Por favor coloque una descripcion.
            </span>
          </div>
          <!--Resumen del producto-->
          <div class="form-group">
            <label for=""
              >Resumen del producto <sup class="text-danger">*</sup></label
            >
            <div
              class="input-group mb-3"
              *ngFor="let inputSummary of summaryGroup; let i = index"
            >
              <div class="input-group-append">
                <span class="input-group-text">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeInput(i, 'summary')"
                  >
                    &times;
                  </button>
                </span>
              </div>
              <input
                type="text"
                class="form-control py-4"
                maxlength="50"
                (change)="addItem($event, 'summary', i)"
                [ngClass]="{
                  'is-invalid': invalidField('summary')
                }"
              />
              <span
                class="invalid-feedback"
                *ngIf="summary.invalid && summary.errors?.required"
                >Por favor coloque un resumen</span
              >
            </div>
            <button
              type="button"
              class="btn btn-primary btn-sm mb-2"
              (click)="addInput('summary')"
            >
              Añadir resumen
            </button>
          </div>
          <!--Detalles del producto-->
          <div class="form-group" formArrayName="details">
            <label for=""
              >Detalles del producto <sup class="text-danger">*</sup>
            </label>
            <div
              *ngFor="let detail of details.controls; let i = index"
              class="row mb-3"
            >
              <!--Titulo-->
              <div class="col-12 col-lg-6 input-group" [formGroup]="detail">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="removeInput(i, 'details')"
                    >
                      &times;
                    </button>
                  </span>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"> Titulo: </span>
                </div>
                <input
                  type="text"
                  class="form-control py-4"
                  formControlName="title"
                  [ngClass]="{
                    'is-invalid':
                      formSubmitted && detail.controls.title.errors?.required
                  }"
                />

                <span
                  *ngIf="
                    formSubmitted && detail.controls.title.errors?.required
                  "
                  class="invalid-feedback"
                  >Por favor inserte un titulo</span
                >
              </div>
              <!--Valor-->
              <div class="col-12 col-lg-6 input-group" [formGroup]="detail">
                <div class="input-group-append">
                  <span class="input-group-text"> Valor: </span>
                </div>
                <input
                  type="text"
                  class="form-control py-4"
                  formControlName="value"
                  [ngClass]="{
                    'is-invalid':
                      formSubmitted && detail.controls.value.errors?.required
                  }"
                />
                <span
                  *ngIf="
                    formSubmitted && detail.controls.value.errors?.required
                  "
                  class="invalid-feedback"
                  >Por favor inserte un valor</span
                >
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary btn-sm mb-2"
              (click)="addInput('details')"
            >
              Añadir detalle
            </button>
          </div>
          <!--Especificaciones-->
          <div class="form-group" formArrayName="details">
            <label for="">Especificaciones del producto </label>
            <div
              *ngFor="
                let specification of specifications.controls;
                let i = index
              "
              class="row mb-3"
            >
              <!--tipo-->
              <div
                class="col-12 col-lg-6 input-group"
                [formGroup]="specification"
              >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="removeInput(i, 'specifications')"
                    >
                      &times;
                    </button>
                  </span>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"> Tipo: </span>
                </div>
                <input
                  type="text"
                  class="form-control py-4"
                  formControlName="type"
                />
              </div>
              <!--Valor-->
              <div
                class="col-12 col-lg-6 input-group"
                [formGroup]="specification"
              >
                <div class="input-group-append">
                  <span class="input-group-text"> Valores: </span>
                </div>
                <input
                  type="text"
                  class="form-control py-4"
                  formControlName="values"
                />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary btn-sm mb-2"
              (click)="addInput('specifications')"
            >
              Añadir especificacion
            </button>
          </div>
        </ng-container>
        <!--Spinner de carga-->
        <ng-container *ngIf="loadData">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </ng-container>
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary" [routerLink]="['/products']">
          Regresar
        </button>
        <button
          type="submit"
          [disabled]="f.pending"
          class="btn btn-warning float-right"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
