<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Producto nuevo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['/products']">Productos</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="card card-warning">
    <form autocomplete="off" [formGroup]="f" (ngSubmit)="saveProduct()">
      <div class="card-body">
        <ng-container *ngIf="!loadData">
          <!--Nombre del producto-->
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input
              type="text"
              placeholder="Nombre"
              class="form-control"
              id="inputName"
              formControlName="name"
              maxlength="50"
              required
              [ngClass]="{ 'is-invalid': invalidField('name') }"
            />
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.required"
              >Ingrese el nombre del producto</span
            >
          </div>
        </ng-container>
        <!--Spinner de carga-->
        <ng-container *ngIf="loadData">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </ng-container>
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary" [routerLink]="['/products']">
          Regresar
        </button>
        <button
          type="submit"
          [disabled]="f.pending"
          class="btn btn-warning float-right"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
