<mat-dialog-content>
  <div class="card card-warning">
    <div class="card-header">
      <h2 class="card-title mb-0">Editar categoria</h2>
      <button type="button" class="close" mat-dialog-close>&times;</button>
    </div>
    <form autocomplete="off" [formGroup]="f" (ngSubmit)="editCategory()">
      <div class="card-body">
        <ng-container *ngIf="!loadData">
          <!--Icono-->
          <div class="form-group">
            <label for="inputIcon"
              >Icono (<a href="https://linearicons.com/free" target="blank"
                >Iconos disponibles</a
              >)</label
            >
            <div class="input-group">
              <input
                formControlName="icon"
                type="text"
                id="inputIcon"
                class="form-control"
                placeholder="Icono"
                (change)="viewIcon($event)"
                [ngClass]="{ 'is-invalid': invalidField('icon') }"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <div [innerHTML]="iconView"></div>
                </div>
              </div>
            </div>
            <span class="invalid-feedback">Por favor coloque un icono</span>
          </div>
          <!--Imagen-->
          <div class="form-group">
            <label for="customFile">
              <img
                *ngIf="imgTemp; else noCategorieImage"
                [src]="imgTemp"
                alt=""
                width="170px"
                class="img-fluid"
              />
              <ng-template #noCategorieImage>
                <img
                  src="../../../../../assets/img/categories/default/categorie_default.svg"
                  alt=""
                  width="170px"
                  class="img-fluid"
                />
              </ng-template>
            </label>
            <div class="custom-file">
              <input
                [ngClass]="{ 'is-invalid': invalidField('image') }"
                formControlName="image"
                type="file"
                class="custom-file-input"
                id="customFile"
                (change)="validateImage($event)"
                accept="image/jpeg,image/jpg,image/png"
              />
              <span class="invalid-feedback">Por favor coloque una imagen</span>
              <label
                class="custom-file-label"
                for="customFile"
                *ngIf="!image.value"
                >Escoje la imagen</label
              >
              <label
                class="custom-file-label"
                for="customFile"
                *ngIf="image.value"
                >{{ image.value }}</label
              >
              <small class="mt-2"
                >tamaño: 170px * 170px | formato: jpg o png</small
              >
            </div>
          </div>
          <!--Nombre-->
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input
              type="text"
              id="inputName"
              class="form-control"
              placeholder="Nombre"
              value="{{ nameView }}"
              readonly
            />
          </div>
          <!--URL-->
          <div class="form-group">
            <label for="inputUrl">Url</label>
            <input
              type="text"
              id="inputUrl"
              class="form-control"
              placeholder="Url"
              value="{{ urlInput }}"
              readonly
            />
          </div>
          <!--Lista de titulos-->
          <div class="form-group">
            <label>Lista de titulos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Lista de titulos"
              value="{{ titleView }}"
              readonly
            />
          </div>
        </ng-container>
        <ng-container *ngIf="loadData">
          <app-spinners [type]="'sk-cube'"></app-spinners>
        </ng-container>
      </div>
      <div class="card-footer">
        <button mat-dialog-close class="btn btn-secondary">Cerrar</button>
        <button type="submit" class="btn btn-warning float-right">
          Guardar
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
