<mat-dialog-content>
  <div class="card card-warning">
    <div class="card-header">
      <h2 class="card-title mb-0">Editar subcategoria</h2>
      <button type="button" class="close" mat-dialog-close>&times;</button>
    </div>
    <form autocomplete="off" [formGroup]="f" (ngSubmit)="editSubcategory()">
      <div class="card-body">
        <ng-container *ngIf="!loadData">
          <!--Categoria-->
          <div class="form-group">
            <label for="inputUrl">Categoria</label>
            <select
              class="form-control"
              formControlName="category"
              [ngClass]="{ 'is-invalid': invalidField('category') }"
              (change)="selectCategory($event)"
            >
              <option value="">Seleccione una categoria</option>
              <option
                *ngFor="let category of categories"
                value="{{ category.id }}"
              >
                {{ category.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="category.invalid && category.errors?.required"
              >Por favor ingrese una categoria</span
            >
          </div>
          <!--Titulo de lista-->
          <div class="form-group">
            <label for="inputTitleList">Titulo de lista</label>
            <select
              class="form-control"
              formControlName="titleList"
              [ngClass]="{ 'is-invalid': invalidField('titleList') }"
            >
              <option value="{{ selectTL }}">{{ selectTL }}</option>
              <option *ngFor="let tl of titleListArray" value="{{ tl }}">
                {{ tl }}
              </option>
            </select>
            <span
              class="invalid-feedback"
              *ngIf="titleList.invalid && titleList.errors?.required"
              >Por favor coloque un titulo de lista</span
            >
          </div>
          <!--Nombre-->
          <div class="form-group">
            <label for="inputUrl">Nombre</label>
            <input
              type="text"
              class="form-control"
              value="{{ nameView }}"
              readonly
            />
          </div>
          <!--URL-->
          <div class="form-group">
            <label for="inputUrl">Url</label>
            <input
              type="text"
              id="inputUrl"
              class="form-control"
              value="{{ urlInput }}"
              readonly
            />
          </div>
        </ng-container>
        <ng-container *ngIf="loadData">
          <app-spinners [type]="'sk-cube'"></app-spinners>
        </ng-container>
      </div>
      <div class="card-footer">
        <button mat-dialog-close class="btn btn-secondary">Cerrar</button>
        <button type="submit" class="btn btn-warning float-right">
          Guardar
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
