<mat-dialog-content>
  <div class="card card-warning">
    <div class="card-header">
      <h2 class="card-title mb-0">Nueva subcategoria</h2>
      <button type="button" class="close" mat-dialog-close>&times;</button>
    </div>
    <form autocomplete="off" [formGroup]="f" (ngSubmit)="saveSubcategory()">
      <div class="card-body">
        <ng-container *ngIf="!loadData">
          <!--Categoria-->
          <div class="form-group">
            <label for="inputCategory">Categoria</label>
            <select
              class="form-control"
              formControlName="category"
              [ngClass]="{ 'is-invalid': invalidField('category') }"
              (change)="selectCategory($event)"
            >
              <option value="">Seleccione una categoria</option>
              <option
                *ngFor="let category of categories"
                value="{{ category.name }}"
              >
                {{ category.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="category.invalid && category.errors?.required"
              >Por favor ingrese una categoria</span
            >
          </div>
          <!--Titulo de lista-->
          <div class="form-group" *ngIf="!category.invalid">
            <label for="inputTitleList">Titulo de lista</label>
            <select
              class="form-control"
              formControlName="titleList"
              [ngClass]="{ 'is-invalid': invalidField('titleList') }"
            >
              <option value="">Seleccione la lista de titulo</option>
              <option *ngFor="let tl of titleListArray" value="{{ tl }}">
                {{ tl }}
              </option>
            </select>
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.required"
              >Por favor coloque un titulo de lista</span
            >
          </div>
          <!--Nombre-->
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input
              formControlName="name"
              type="text"
              id="inputName"
              class="form-control"
              placeholder="Nombre"
              [ngClass]="{
                'is-invalid':
                  invalidField('name') ||
                  (name.invalid && name.errors?.pattern) ||
                  (name.invalid && name.errors?.subcategory)
              }"
            />
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.required"
              >Por favor coloque un nombre</span
            >
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.pattern"
              >Por favor escriba correctamente el nombre</span
            >
            <span
              class="invalid-feedback"
              *ngIf="name.invalid && name.errors?.category"
              >La categoria ya existe</span
            >
          </div>
          <!--URL-->
          <div class="form-group">
            <label for="inputUrl">Url</label>
            <input
              type="text"
              id="inputUrl"
              class="form-control"
              placeholder="Url"
              value="{{ urlInput }}"
              readonly
            />
          </div>
        </ng-container>
        <ng-container *ngIf="loadData">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </ng-container>
      </div>
      <div class="card-footer">
        <button mat-dialog-close class="btn btn-secondary">Cerrar</button>
        <button type="submit" class="btn btn-warning float-right">
          Guardar
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
