<div class="hold-transition login-page">
  <div class="register-box">
    <div class="card">
      <div class="card-body">
        <h2 class="login-box-msg font-weight-bold">Registrarte</h2>

        <form (ngSubmit)="onSubmit(f)" [formGroup]="f" autocomplete="on">
          <!--Nombre-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre completo"
              formControlName="name"
              required
              maxlength="50"
              [ngClass]="{
                'is-invalid':
                  invalidField('name') ||
                  (f.controls.name.invalid &&
                    f.controls.name.errors?.maxlength) ||
                  (f.controls.name.invalid && f.controls.name.errors?.pattern)
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="invalidField('name') && f.controls.name.errors?.required"
            >
              Por favor ingrese su nombre
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.name.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.name.errors?.maxlength"
            >
              El nombre no puede tener mas de 50 caracteres
            </span>
          </div>
          <!--Correo-->
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Correo electronico"
              formControlName="email"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('email') &&
                  f.controls.email.invalid &&
                  f.controls.email.errors?.email
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="invalidField('email') && f.controls.email.errors?.required"
            >
              Por favor ingrese su correo
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.email.errors?.email"
            >
              El correo no es valido
            </span>
          </div>
          <!--Celular-->
          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="No. Celular"
              formControlName="celphone"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('celphone') ||
                  (f.controls.celphone.invalid &&
                    f.controls.celphone.errors?.max) ||
                  (f.controls.celphone.invalid &&
                    f.controls.celphone.errors?.pattern)
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('celphone') && f.controls.celphone.errors?.required
              "
            >
              Por favor ingrese su numero de celular
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.celphone.errors?.pattern"
            >
              Se encontraron caracteres invalidos
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.celphone.errors?.max"
            >
              El numero de celular no puede tener mas de 10 digitos
            </span>
          </div>
          <!--Tipo de identificacion-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Tipo de identificación"
              formControlName="idType"
              required
              [ngClass]="{
                'is-invalid': invalidField('idType')
              }"
            >
              <option value="" disabled selected>Tipo de identificación</option>
              <option value="C.C">C.C (Cédula de Ciudadania)</option>
              <option value="C.E">C.E (Cédula Extranjería)</option>
              <option value="P.A">P.A (Pasaporte)</option>
              <option value="NIT">
                NIT (Número de Identificación Tributaria)
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('idType') && f.controls.idType.errors?.required
              "
            >
              Por favor ingrese su Tipo de identificación
            </span>
          </div>
          <!--Numero de identificacion-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Número de identificación"
              formControlName="idValue"
              required
              [ngClass]="{
                'is-invalid': invalidField('idValue')
              }"
            />
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('idValue') && f.controls.idValue.errors?.required
              "
            >
              Por favor ingrese su Número de identificación
            </span>
          </div>
          <!--Pais-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Pais"
              formControlName="country"
              required
              (change)="this.countryChange()"
              [ngClass]="{
                'is-invalid': invalidField('country')
              }"
            >
              <option value="" disabled selected>Pais</option>
              <option
                value="{{ country.iso2 }}"
                *ngFor="let country of this.allCountries"
              >
                {{ country.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('country') && f.controls.country.errors?.required
              "
            >
              Por favor ingrese su Pais
            </span>
          </div>
          <!--Estado-->
          <div
            class="input-group mb-3"
            *ngIf="this.country.value && this.allStatesByCountry"
          >
            <select
              type="text"
              class="form-control"
              placeholder="Estado"
              formControlName="state"
              required
              (change)="this.stateChange()"
              [ngClass]="{
                'is-invalid': invalidField('state')
              }"
            >
              <option value="" disabled selected>Estado</option>
              <option
                value="{{ state.iso2 }}"
                *ngFor="let state of this.allStatesByCountry"
              >
                {{ state.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('state') && f.controls.state.errors?.required"
            >
              Por favor ingrese su Estado
            </span>
          </div>
          <!--Ciudad-->
          <div
            class="input-group mb-3"
            *ngIf="
              this.country.value &&
              this.allStatesByCountry &&
              this.state.value &&
              this.allCities
            "
          >
            <select
              type="text"
              class="form-control"
              placeholder="Ciudad"
              formControlName="city"
              required
              [ngClass]="{
                'is-invalid': invalidField('city')
              }"
            >
              <option value="" disabled selected>Ciudad</option>
              <option value="{{ city.id }}" *ngFor="let city of this.allCities">
                {{ city.name }}
              </option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('city') && f.controls.city.errors?.required"
            >
              Por favor ingrese su Ciudad
            </span>
          </div>
          <!--Genero-->
          <div class="input-group mb-3">
            <select
              type="text"
              class="form-control"
              placeholder="Genero"
              formControlName="sex"
              required
              [ngClass]="{
                'is-invalid': invalidField('sex')
              }"
            >
              <option value="" disabled selected>Genero</option>
              <option value="Hombre">Hombre</option>
              <option value="Mujer">Mujer</option>
              <option value="Otro">Otro</option>
            </select>

            <span
              class="invalid-feedback"
              *ngIf="invalidField('sex') && f.controls.sex.errors?.required"
            >
              Por favor ingrese su genero
            </span>
          </div>
          <!--Contraseña-->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('password') ||
                  f.controls.password.errors?.minlength
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('password') && f.controls.password.errors?.required
              "
            >
              Por favor ingrese su contraseña
            </span>
            <span
              class="invalid-feedback"
              *ngIf="f.controls.password.errors?.minlength"
            >
              La contraseña debe tener minimo 6 caracteres
            </span>
          </div>
          <!--Contraseña verificar-->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Ingrese su contraseña nuevamente"
              formControlName="repeatPassword"
              required
              [ngClass]="{
                'is-invalid':
                  invalidField('repeatPassword') || !passwordCoincidence()
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              class="invalid-feedback"
              *ngIf="
                invalidField('repeatPassword') &&
                f.controls.repeatPassword.errors?.required
              "
            >
              Por favor ingrese su contraseña
            </span>
            <span class="invalid-feedback" *ngIf="!passwordCoincidence()">
              La contraseña no coincide
            </span>
          </div>
          <div class="row">
            <!--Terminos y condiciones-->
            <div class="col-8">
              <div class="icheck-primary">
                <label for="agreeTerms">
                  Estoy de acuerdo con los <a href="#">terminos</a>
                </label>
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                  formControlName="terms"
                  required
                  [ngClass]="{
                    'is-invalid': invalidField('terms')
                  }"
                />
                <span
                  class="invalid-feedback"
                  *ngIf="
                    invalidField('terms') && f.controls.terms.errors?.required
                  "
                >
                  Por favor acepte los terminos y condiciones
                </span>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-block bg-red"
                [disabled]="f.invalid"
              >
                Registrar
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!--Metodos de registro-->
        <!--
        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Registrarme con Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Registrarme con Google+
          </a>
        </div>
        -->

        <a [routerLink]="['/login']" class="text-center">Ya tengo una cuenta</a>
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.register-box -->
</div>
