<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Sales</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Sales</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <div [hidden]="loadData" class="row mb-2">
          <div class="col-12 col-sm-6 col-xl-3 ml-auto">
            <input
              class="form-control"
              placeholder="Buscar"
              (keyup)="applyFilter($event)"
            />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="mat-table-container">
          <table
            [hidden]="loadData"
            mat-table
            matSort
            matSortActive="position"
            matSortDirection="asc"
            [dataSource]="dataSource"
            class="mat-elevation-z8 matTable-table"
            multiTemplateDataRows
          >
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- id_order Column -->
            <ng-container matColumnDef="id_order">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Id Order
              </th>
              <td mat-cell *matCellDef="let element">
                <span
                  *ngIf="element.status == 'pending'"
                  class="badge badge-danger p-3"
                >
                  {{ element.id_order }}
                </span>
                <span
                  *ngIf="element.status == 'test'"
                  class="badge badge-warning p-3"
                >
                  {{ element.id_order }}
                </span>
                <span
                  *ngIf="element.status == 'success'"
                  class="badge badge-success p-3"
                >
                  {{ element.id_order }}
                </span>
              </td>
            </ng-container>

            <!-- Unit price -->
            <ng-container matColumnDef="unit_price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Unit price
              </th>
              <td mat-cell *matCellDef="let element">
                <span
                  class="badge badge-secondary p-1"
                  *ngIf="element.paid_out == undefined"
                >
                  {{ element.unit_price | currency }}
                </span>
                <span
                  class="badge badge-info p-1"
                  *ngIf="element.paid_out == 'success'"
                >
                  {{ element.unit_price | currency }}
                </span>
              </td>
            </ng-container>

            <!-- COmmission Column -->
            <ng-container matColumnDef="commission">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Commission
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.commission | currency }}
              </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
              <td mat-cell *matCellDef="let element">
                {{ element.total | currency }}
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="btn btn-sm btn-warning mr-1 size"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element
                  "
                >
                  <i class="fas fa-eye"></i>
                </button>

                <button
                  class="btn btn-sm btn-dark mr-1 size"
                  (click)="editSale(element.id)"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <ul class="pl-0">
                    <!--Client-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Client:</strong>
                      {{ element.client }}
                    </li>

                    <!--Product-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Product:</strong>
                      {{ element.product }}
                    </li>

                    <!--Quantity-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Quantity:</strong>
                      {{ element.quantity }}
                    </li>

                    <!--Payment method-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Payment method:</strong>
                      {{ element.payment_method }}
                    </li>

                    <!--Id payment-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Id payment:</strong>
                      {{ element.id_payment }}
                    </li>

                    <!--Date-->
                    <li class="py-2">
                      <span class="mx-2 text-muted"></span>
                      <strong class="mat-header-cell">Date:</strong>
                      {{ element.date | date }}
                    </li>
                  </ul>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell text-center"
                [attr.colspan]="displayedColumns.length"
              >
                No data matching the filter
              </td>
            </tr>
          </table>
          <ng-container *ngIf="loadData">
            <app-spinners [type]="'sk-cube'"></app-spinners>
          </ng-container>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <mat-paginator
          [hidden]="loadData"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
