<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <!--Inventarios-->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-shopping-cart"> </i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Productos</span>
              <span class="info-box-number">
                <ng-container *ngIf="!loadItems.products; else load">
                  {{ itemsQuantity.products }}
                </ng-container>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-shipping-fast"> </i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Ventas</span>
              <span class="info-box-number">
                <ng-container *ngIf="!loadItems.sales; else load">
                  {{ itemsQuantity.sales }}
                </ng-container>
              </span>
            </div>
          </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-users"> </i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes</span>
              <span class="info-box-number">
                <ng-container *ngIf="!loadItems.users; else load">
                  {{ itemsQuantity.users }}
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Reporte de ventas</div>
            <hr />
            <label
              >Fecha inicial:
              <input
                type="date"
                class="form-control"
                [ngModel]="startDate | date : 'yyyy-MM-dd'"
                (change)="changeStartDate($event)"
              />
            </label>
            <label class="ml-2"
              >Fecha final:
              <input
                type="date"
                class="form-control"
                [ngModel]="endDate | date : 'yyyy-MM-dd'"
                (change)="changeEndDate($event)"
              />
            </label>
          </div>
          <div class="card-body text-center">
            <p>
              <strong
                >Ventas - {{ startDate | date : "fullDate" }} -
                {{ endDate | date : "fullDate" }} | Total:
                {{ totalSales | currency }}</strong
              >
            </p>
            <google-chart
              [title]="chart.title"
              [type]="chart.type"
              [data]="chart.data"
              [columns]="chart.columnNames"
              [options]="chart.options"
              style="width: 100%"
              *ngIf="!this.loadItems.sales && chart.data.length > 0"
            >
            </google-chart>

            <i
              class="fas fa-2x fa-sync-alt fa-spin my-5"
              *ngIf="this.loadItems.sales"
            ></i>
            <p class="text-center" *ngIf="chart.data.length == 0">
              No hay información
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #load>
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </ng-template>
</div>
