/* You can add global styles to this file, and also import other style files */

:root {
  --color-main: #379656;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.matTable-table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

.example-element-row td {
  border-bottom-width: 0 !important;
}

.example-element-detail {
  overflow: hidden !important;
  display: flex !important;
}

td.mat-cell {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

mat-dialog-content::-webkit-scrollbar {
  width: 6px !important;
}

mat-dialog-content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px !important;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}
